body, html {
    height: 100%;
    margin: 0;
}

.jumbotron {
    border-radius: 0px;
    overflow:auto;
}

.navbar {
    position: relative;
    margin-bottom: 0;
    border-radius: 0;
    position: fixed;
    top: 0;
    width: 100%;
}

.main {
    margin-top: 50px;
}

footer {
    background-color: #f2f2f2;
    padding: 25px;
}

.navbar {
    background-color: #001a09;
    z-index: 500;
}

.curint-logo {
    height: inherit;
    padding: 10px;
}

.navbar-brand {
    padding: 0px;
}

.vscrolling_container { 
    display: flex;
    justify-content: center;
    align-items: center; 
}

.jumbotron.quote {
    box-shadow: 0 5px 15px 0px gray;
    margin-bottom: 0px;
    font-family: 'Roboto';
    color: white;
/*    text-shadow: 4px 4px 4px #000000;*/
    background: linear-gradient( rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.5)), url('http://www.dessosports.com/sites/all/themes/desso_theme/images/background.jpg') center 30% no-repeat;
    background-size: cover;
    background-blend-mode: darken;     
}

.container{
    padding: 5% 5%;
}
.container.carousel{
    box-shadow: 0 0px 10px 0px gray;
    margin-top:20px;
    padding: 0px;
    height:495px;
}

.jumbotron.profile {
    box-shadow: 0 0px 0px 0px gray;
}

.summary.container-fluid {
    margin-top: 20px;
    margin-bottom: 20px;
}

.card-title {
    margin-top: 10px;
    margin-bottom: 10px;
}

.profile-text {
    font-family: 'Flamenco';
    font-size: 20px!important;
}

.face-image {
    width: 60px;
    margin-right: 5%;
    margin-bottom: 0px;
    margin-top: auto;
}

.jumbotron.projects {
    box-shadow: 0 0px 10px 0px gray;
    background-color: cadetblue;
    margin-bottom: 15px;
}

.projects-showcase {
    max-width: 1000px;
    overflow: auto;
    margin: auto;
}

.projects.w3-container {
    background-color: white;
    padding-top: 10px;
    font-family: 'Flamenco';
}

.projects-card.w3-container {
    margin: 5px;
    padding: 5px;
}

.recent-headings-title {
    display: inline-block;
    color: white!important;
    text-shadow: 2px 2px 4px #000000;
}

.social-network-icons {
    font-size: 18px;
}

.social-network-icons>li {
    display: inline-block!important;
}


.work-exp-img-crop {
    padding: 5px;
    width: 100px
}

.people-pics-pos {
    padding-left: 7.5px !important;
    padding-top: 5px!important;
    padding-bottom: 15px!important;
    padding-right: 30px!important;
}

.media-body>p {
    padding-top: 5px;
    font-family: "Flamenco";
    word-wrap: break-word;
}
.mb-0{
    font-weight: 300 !important;
}

.jumbotron.contact {
    margin-bottom: 0px;
    box-shadow: 0 0px 10px 0px gray;
    background-color: #f2f2f2;
}

.contact-showcase {
    max-width: 1000px!important;
    overflow: auto;
    margin: auto;
}
.contact-showcase h1{
    margin-top:30px;
}

.contact-showcase>p {
    font-family: Flamenco;
}

.form-control {
    padding: 0px;
    height: 2em !important;
}

@media (min-width: 768px) and (max-width: 900px) {
    .navbar-collapse.collapse {
        display: none !important;
    }
    .navbar-collapse.collapse.in {
        display: block !important;
    }
    .navbar-header .collapse,
    .navbar-toggle {
        display: block !important;
    }
    .navbar-header {
        float: none;
    }
}

a.anchor {
    display: block;
    position: relative;
    top: -48px;
    visibility: hidden;
}


.valignsignin {
    display: table-cell;
    vertical-align: middle;
    width:50% !important;
}

.vscrollingcontainer {
    display: table;
    width:100%;
}

.textaligncenter {
    text-align: center;
}

.btn {
    font-size: 14px;
}



.md-form>input {
    font-size: 16px !important;
}

.md-form>label {
    font-weight:300;
    font-size: 16px ;
}

.jumbotron.about-us {
    box-shadow: 0 0px 0px 0px gray;
    overflow: hidden;
}

.about-us .about-us-showcase {
    max-width: 1000px;
    overflow: hidden;
    margin: auto;
}
.about-us-2.about-us-showcase{
}

h1 {
    text-align:center;
    width:100%
}

.card-body {
    padding:20px;
}

.card-text {
    font-size:1.5rem!important;
}

.col-md-4 {
    max-width: 400px;
    margin:auto;
    padding-top:20px;
    padding-bottom:20px;
}
.about-us-showcase .col-md-6 {
    margin: auto;
}





.card-footer {
    padding:10px;
}

.jumbotron{
    box-shadow: 0 0px 0px 0px gray;
}
.jumbotron.about-us-2 {
    box-shadow: 0 0px 10px 0px gray;
    overflow: hidden;
    background-color: lightgrey;
/*    background-image:url(images/videobackground.jpg);*/
/*
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
*/
}

.view.carousel {
    overflow:hidden;
    width:10%;
    display: inline-block;
}


.img-fluid.carousel {
    object-fit: cover;
    height:500px;
}

.contact .people {
    margin-top:50px;
}

/*landing page*/
.bg.landing {
    /* The image used */
    background: linear-gradient( rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.1)),url("./images/landingpage/laptop.jpg");
    background-blend-mode: darken;  

    /* Full height */
    height: 100%;

    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding-left:5%;
    padding-right:5%;
    padding-top:5%;
    transition: linear all 1s;
  /* if you don't use delay , background will disapear and transition will start from a white background - you have to set the transition-delay the same as transition time OR more , so there won't be any problems */
  -webkit-transition-delay: 1s;/* Safari */
  transition-delay: 1s;
}

.bg .topleft {
    color: white;
    font-size:40px;    
}
img.topleft{
    max-width: 480px;
    width:100%;
    display: inline-block;
}



.landing .topleft.text {
    text-shadow: 2px 2px 5px black;
    font-size: auto;
    margin-top: 50px;
    margin-bottom: 0px;
    margin-right: 5%;
    font-weight:bold;
}
.landing .topleft.text.sm {
    font-family:flamenco;
    font-size: 30px;
    margin-top: 0px;
    margin-bottom: 20px;
    font-weight:normal;
}

@media only screen and (max-device-width: 480px){
    .landing .to-bottom-mobile{
        position: absolute;
        bottom: 5%;
    }
    .landing .topleft.text {
        font-size: 30px
    }
    .landing .topleft.text.sm {
        font-family: "Flamenco";
        font-size: 25px;
        margin-top: 0px;
        margin-bottom: 20px;
    }
    .bg.landing {
        background-image: linear-gradient( rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.7)),url("./images/landingpage/laptop.jpg");

    }
}


